*.DS_Store
Code/Wago_DEV/New project_ecp.precompilecache
Code/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.compileinfo
Code/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.bootinfo_guids
Code/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.bootinfo
Code/Wago_DEV/New project-bcloos-BENCLOOSF01B.opt
Code/Wago_DEV/New project-AllUsers.opt
diagrams/.$Lights_StateMachine.drawio.bkp
videos/1st_demo_withWagoECockpit.mov
